<div class="list-input">
    <select class="select" name="selectNumber" #mynum (input)="this.ListItemService.itemNum(mynum.value)">
    <option value="0">-</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    </select>
    <input type="text" name="todoinput" placeholder="type your tasks here" #myinput (input)="this.ListItemService.inputText(myinput.value)">
    <button type="button" name="button" (click)="buttonClick()">Insert</button>
</div>
<app-list-box></app-list-box>
<button type="button" name="undo" (click)="undoButton()">Undo</button>
