<div class="listBox">
<ul>
  <li>[1] {{this.ListItemInstance.items[0]}}</li>
  <li>[2] {{this.ListItemInstance.items[1]}}</li>
  <li>[3] {{this.ListItemInstance.items[2]}}</li>
  <li>[4] {{this.ListItemInstance.items[3]}}</li>
  <li>[5] {{this.ListItemInstance.items[4]}}</li>
  <li>[6] {{this.ListItemInstance.items[5]}}</li>
  <li>[7] {{this.ListItemInstance.items[6]}}</li>
  <li>[8] {{this.ListItemInstance.items[7]}}</li>
  <li>[9] {{this.ListItemInstance.items[8]}}</li>
  <li>[10] {{this.ListItemInstance.items[9]}}</li>
</ul>
</div>
<p>{{this.ListItemInstance.alert}}</p>
